<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <servlet>
        <servlet-name>com.autumn.jsp.error_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.error_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.login_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.login_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.actionedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.actionedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.actions_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.actions_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.compileresult_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.compileresult_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.dbpoolinfo_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.dbpoolinfo_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.dbpools_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.dbpools_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.dbpooltail_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.dbpooltail_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.default_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.default_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.fileedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.fileedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.hbmmapedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.hbmmapedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.hbmmaps_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.hbmmaps_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.menulist_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.menulist_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.menwatch_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.menwatch_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.serviceedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.serviceedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.servicemethod_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.servicemethod_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.serviceproperty_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.serviceproperty_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.services_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.services_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.smlogedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.smlogedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.smlogfind_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.smlogfind_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.smlogs_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.smlogs_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.smservices_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.smservices_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.soapedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.soapedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.soapmethod_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.soapmethod_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.soapproperty_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.soapproperty_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.soaps_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.soaps_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.sqltest_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.sqltest_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.svncodeedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.svncodeedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.svncodes_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.svncodes_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.svncodeup_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.svncodeup_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.sysproperties_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.sysproperties_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.system_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.system_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.threadwatch_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.threadwatch_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.upload_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.upload_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.useredit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.useredit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.usermodify_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.usermodify_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.users_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.users_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.webedit_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.webedit_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.webmethod_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.webmethod_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.webproperty_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.webproperty_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.console.webs_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.console.webs_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.autopage.details_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.autopage.details_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.autopage.index_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.autopage.index_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.autopage.list_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.autopage.list_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.autopage.menu_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.autopage.menu_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.autumn.jsp.autopage.verify_jsp</servlet-name>
        <servlet-class>com.autumn.jsp.autopage.verify_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.error_jsp</servlet-name>
        <url-pattern>/error.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.login_jsp</servlet-name>
        <url-pattern>/login.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.actionedit_jsp</servlet-name>
        <url-pattern>/console/actionedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.actions_jsp</servlet-name>
        <url-pattern>/console/actions.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.compileresult_jsp</servlet-name>
        <url-pattern>/console/compileresult.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.dbpoolinfo_jsp</servlet-name>
        <url-pattern>/console/dbpoolinfo.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.dbpools_jsp</servlet-name>
        <url-pattern>/console/dbpools.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.dbpooltail_jsp</servlet-name>
        <url-pattern>/console/dbpooltail.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.default_jsp</servlet-name>
        <url-pattern>/console/default.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.fileedit_jsp</servlet-name>
        <url-pattern>/console/fileedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.hbmmapedit_jsp</servlet-name>
        <url-pattern>/console/hbmmapedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.hbmmaps_jsp</servlet-name>
        <url-pattern>/console/hbmmaps.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.menulist_jsp</servlet-name>
        <url-pattern>/console/menulist.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.menwatch_jsp</servlet-name>
        <url-pattern>/console/menwatch.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.serviceedit_jsp</servlet-name>
        <url-pattern>/console/serviceedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.servicemethod_jsp</servlet-name>
        <url-pattern>/console/servicemethod.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.serviceproperty_jsp</servlet-name>
        <url-pattern>/console/serviceproperty.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.services_jsp</servlet-name>
        <url-pattern>/console/services.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.smlogedit_jsp</servlet-name>
        <url-pattern>/console/smlogedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.smlogfind_jsp</servlet-name>
        <url-pattern>/console/smlogfind.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.smlogs_jsp</servlet-name>
        <url-pattern>/console/smlogs.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.smservices_jsp</servlet-name>
        <url-pattern>/console/smservices.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.soapedit_jsp</servlet-name>
        <url-pattern>/console/soapedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.soapmethod_jsp</servlet-name>
        <url-pattern>/console/soapmethod.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.soapproperty_jsp</servlet-name>
        <url-pattern>/console/soapproperty.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.soaps_jsp</servlet-name>
        <url-pattern>/console/soaps.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.sqltest_jsp</servlet-name>
        <url-pattern>/console/sqltest.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.svncodeedit_jsp</servlet-name>
        <url-pattern>/console/svncodeedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.svncodes_jsp</servlet-name>
        <url-pattern>/console/svncodes.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.svncodeup_jsp</servlet-name>
        <url-pattern>/console/svncodeup.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.sysproperties_jsp</servlet-name>
        <url-pattern>/console/sysproperties.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.system_jsp</servlet-name>
        <url-pattern>/console/system.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.threadwatch_jsp</servlet-name>
        <url-pattern>/console/threadwatch.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.upload_jsp</servlet-name>
        <url-pattern>/console/upload.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.useredit_jsp</servlet-name>
        <url-pattern>/console/useredit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.usermodify_jsp</servlet-name>
        <url-pattern>/console/usermodify.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.users_jsp</servlet-name>
        <url-pattern>/console/users.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.webedit_jsp</servlet-name>
        <url-pattern>/console/webedit.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.webmethod_jsp</servlet-name>
        <url-pattern>/console/webmethod.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.webproperty_jsp</servlet-name>
        <url-pattern>/console/webproperty.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.console.webs_jsp</servlet-name>
        <url-pattern>/console/webs.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.autopage.details_jsp</servlet-name>
        <url-pattern>/autopage/details.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.autopage.index_jsp</servlet-name>
        <url-pattern>/autopage/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.autopage.list_jsp</servlet-name>
        <url-pattern>/autopage/list.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.autopage.menu_jsp</servlet-name>
        <url-pattern>/autopage/menu.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.autumn.jsp.autopage.verify_jsp</servlet-name>
        <url-pattern>/autopage/verify.jsp</url-pattern>
    </servlet-mapping>

</web-app>

