# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
bin

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
build_config.mk
*.a
*.o
*.dylib*
*.so
*.so.*
*_test
.vimrc
.ycm_extra_conf.py
*.pyc
*.gch
build
*.swp
*.pb.h
tags
cscope.*
.tmp
dicom_data
dicom_db
core.*
deps
.vimrc
.ycm_extra_conf.py
onion
jsoncpp
