<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>实例名,配置数据库依次区别属于不同服务器配置,不填取当前机器名</description>
    <display-name>autumn</display-name>
    <context-param>
        <description>初始化的数据库连接驱动，dbdriver，dburl,dbuser,dbpwd参数指定系统初始化时要访问的数据库，该数据库保存了所有配置表</description>
        <param-name>dbdriver</param-name>
        <!--mysql驱动=com.mysql.jdbc.Driver-->
        <!--mssql驱动=com.microsoft.sqlserver.jdbc.SQLServerDriver-->
        <!--oracle驱动=oracle.jdbc.driver.OracleDriver-->
        <!--不填默认使用本地javaDB数据库-->
        <param-value>org.apache.derby.jdbc.EmbeddedDriver</param-value>
        <param-value/>
    </context-param>
    <context-param>
        <description>初始化的数据库连接地址端口</description>
        <param-name>dburl</param-name>
        <!--mysql地址=jdbc:mysql://localhost:3306/autumn?characterEncoding=utf8-->
        <!--mssql地址=jdbc:sqlserver://localhost:1433;databasename=autumn-->
        <!--oracle地址=jdbc:oracle:thin:@localhost:1521:AUTUMN-->
        <param-value>jdbc:derby:D:\Maven Projects\autumn-framework\web\WEB-INF\db\autumn;create=true</param-value>
    </context-param>
    <context-param>
        <description>初始化的数据库账号</description>
        <param-name>dbuser</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>初始化的数据库密码</description>
        <param-name>dbpwd</param-name>
        <param-value></param-value>
    </context-param>
    
    <context-param>
        <description>设置日志的输出路径,不设置不输出日志</description>
        <param-name>logPath</param-name>
        <param-value>log</param-value>
    </context-param>
    <context-param>
        <description>支持压缩的contentType,逗号隔开</description>
        <param-name>compressableMimeType</param-name>
        <param-value>text/html,text/xml,text/javascript,text/css,text/plain</param-value>
    </context-param>
    <context-param>
        <description>是否检查登录ip超限，登错三次等30分,默认false</description>
        <param-name>checkLoginIp</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>允许访问console的ip地址,默认仅允许私网IP，填""允许所有IP</description>
        <param-name>consoleIp</param-name>
        <param-value/>
    </context-param>
    <!--context-param>
        <description>上传组件临时目录,默认user.dir</description>
        <param-name>multipartRequestTmpDirectory</param-name>
        <param-value/>
    </context-param-->
    <!--context-param>
        <description>上传组件内存最大缓存量,默认256K</description>
        <param-name>multipartRequestThresholdSize</param-name>
        <param-value>256 * 1024</param-value>
    </context-param-->
    <!--context-param>
        <description>上传组件允许最大,默认250M</description>
        <param-name>multipartRequestMaxSize</param-name>
        <param-value>250 * 1024 * 1024</param-value>
    </context-param-->
    
    <listener>
        <description>autumn框架系统初始化类，请不要修改删除</description>
        <listener-class>com.autumn.core.web.Initializer</listener-class>
    </listener>
    
    <filter>
        <description>autumn框架web过滤器，请不要修该删除</description>
        <filter-name>dispatchfilter</filter-name>
        <filter-class>com.autumn.core.web.DispatchFilter</filter-class>
        <init-param>
            <description>默认request编码</description>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <description>以下url跳过过滤器,正则表达式</description>
            <param-name>excludes</param-name>
            <param-value>^pic/</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>dispatchfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <description>WebServices框架服务控制器，请不要修该删除</description>
        <servlet-name>SoapServlet</servlet-name>
        <servlet-class>com.autumn.core.web.SoapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SoapServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
</web-app>
